
*{
 margin:0;
 padding:0;
}
.clear {
clear:both;
}
#wrap{
width:1000px;
margin:auto;
}
body{
background:url(images/bg.jpg) repeat;
font-family:Georgia, "Times New Roman", Times, serif;
color:#212713;
}




